:root{
  --Red400: hsl(0, 100%, 74%);
  --Green400: hsl(154, 59%, 51%);
  --Purple700: hsl(248, 32%, 49%);
  --Gray900: hsl(249, 10%, 26%);
  --Purple350: hsl(246, 25%, 77%);
}
@font-face{
  font-family: Poppins;
  font-style: normal;
  font-weight: 100 900;
  src: url("../../../public/fonts/Poppins-Regular.ttf");
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}