.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 38%;
    margin: 4rem 3rem 1rem 1rem;
    gap: 1.5rem;
}
.form form {
    box-sizing: border-box;
    padding: 2.5rem;
    background-color: white;
    width: 100%;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.23rem;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
}
.formHeader {
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    padding: 1.2rem 1rem;
    border-radius: .7rem;
    background-color: var(--Purple700);
    text-align: center;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
}
h2.formHeader {
    font-family: 'Poppins';
    font-size: .97rem;
    color: white;
    margin: 0;
}
h2.formHeader  span{
    font-family: 'PoppinsBold';
}
.formText{
    margin: -.3rem 0 0 0;
    color: var(--Purple350);
    font-size: .71rem;
}
.formText span{
    font-family: 'PoppinsSemiBold';
    color: var(--Red400);
    cursor: pointer;
}
@media (max-width: 1000px) {
    .formHeader {
        padding: 2rem 1rem;
    }
    .form {
        width: 88%;
        margin: 1rem 1rem 1rem 1rem;

    }
    .form form {
        padding: 1.5rem;
        gap: 1rem;
    }
    .form h2 {
        padding: 1.1rem 4.2rem;
        line-height: 1.7;
        font-size: .94rem;
    }
    .formText{
        text-align: center;
        margin: -.6rem 1rem 0 1rem;
        line-height: 1.9;
    }
}