apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: intro-component-with-signup-form-app
    newName: intro-component-with-signup-form-app
    newTag: latest
